<h1><%= @article.title %></h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p><br><br>
<p><%= @article.body %></p>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<br><br>
<ul>
<li><%= link_to "edit", edit_article_path(@article) %></li>
<li><%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %></li>
</ul>
<br><br>
<%= link_to "<< Back to Articles List", articles_path %>